<h1>Sign In</h1>
<form action="/admin" method="post">
  <label for="username"><b>Username</b></label>
  <input type="text" name="username" placeholder="Enter Username" />

  <label for="password"><b>Password</b></label>
  <input type="password" name="password" placeholder="Enter Password" />

  <button type="submit" class="btn">LogIn</button>
</form>
<!-- For Admin Register Purpose Only -->
<!-- 
<h1>Register</h1>
<form action="/register" method="post">
  <label for="username"><b>Username</b></label>
  <input type="text" name="username" placeholder="Enter Username" />

  <label for="password"><b>Password</b></label>
  <input type="password" name="password" placeholder="Enter Password" />

  <button type="submit" class="btn">Register</button>
</form> -->
