<div class="author">
  <h1 class="author__heading">About Us.</h1>
</div>

<img
  src="/img/blog.webp"
  alt="person looking out through window"
  class="hero-image"
  height="528"
  width="981"
/>
<div class="author">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit temporibus, nobis, voluptatem molestiae expedita quibusdam doloribus perspiciatis minima earum ipsa neque, fuga enim similique libero quisquam culpa distinctio omnis ratione impedit aliquid at mollitia cupiditate nemo dolore? Quisquam minus eum sint blanditiis enim! Debitis distinctio rerum eius alias at esse! A ea quisquam odit repudiandae, vitae consectetur sapiente? Laborum, impedit voluptate quam libero rerum sit reprehenderit vero illum dicta sequi consequuntur nam nobis sed tenetur accusantium. Adipisci repudiandae magnam id eum nostrum omnis tempora maiores accusamus beatae sequi, unde perspiciatis possimus optio numquam sapiente, exercitationem aut voluptates corporis! Velit, tempore?</p>
</div>
